---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey-color:       #828282;
$grey-color-lighter: lighten($grey-color, 27%);
$grey-color-light: lighten($grey-color, 25%);
$grey-color-softlight: lighten($grey-color, 15%);
$grey-color-softdark: darken($grey-color, 5%);
$grey-color-mid:   darken($grey-color, 15%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-darkplus:  darken($grey-color, 38%);
$grey-color-darkplusplus:  darken($grey-color, 40%);

#search-input {
    background: $grey-color-darkplus !important;
    color: $grey-color-light;
    border: none;
}
#results-container {
    color: Cornsilk;
    font-weight: 600;
}
body {
    background: $grey-color-darkplusplus;
    color: $grey-color-softlight;
}
a {
    text-decoration: none !important;
    color: darken(AliceBlue, 52%);
    &:hover {
        text-decoration: underline dotted yellow !important;
        color: darken(AliceBlue, 45%);
    }
    &:visited {
        color: darken(Azure, 80%);
    }

}
.site-title {
    color: darken(#c904bc,3%) !important;
    letter-spacing: 1px;
}
::selection {
  background: Indigo;
}
h1,h2,h3,h4,h5,h6 {
    color: lighten(Indigo, 23%);
}
h1 {
    background: linear-gradient(230deg, Indigo -10%,darken(MidnightBlue,5%) 70%);
    color: GoldenRod;
    line-height: 1.15em !important;

}
blockquote {
    border-left: 5px solid darken(Indigo, 15%);
}
table th {
    color: $grey-color-light;
    border: 0.17em ridge $grey-color !important;
    border-bottom: 0.2em solid $grey-color-mid !important;
}
table td,
table th {
    border-color: $grey-color-softdark;
}
summary {
    color: $grey-color-softdark;

    &:hover {
        color: $grey-color-light;

    }
}
details {
    color: #54c4f8;
    border: 1px solid darken(Teal, 70%);
    background-color: $grey-color-darkplus;
    &:hover {
        color: #b6e6fc !important;
    }
}

#more-work {
    background :  linear-gradient(123deg, DarkSlateBlue -10%,  MidnightBlue 70%);
    border-radius: 3em;

}
.otherpostlnk {
    text-decoration: none !important;
    color: lighten(DarkOrchid, 45%);
    font-family: Abel;
    font-weight: 900;
    &:hover {
        text-decoration: underline dotted yellow !important;
        color: lighten(DarkOrchid, 35%);
    }
    &:visited {
        color: lighten(DarkOrchid, 25%);
    }
}
pre,
code {
    border: 1px solid $grey-color-dark;
    border-radius: 3px;
    background-color: $grey-color-dark;

}
p {
    color: $grey-color-lighter;
}
.highlight {
    background: $grey-color-dark !important;
}
.card {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    &:hover {
        box-shadow: inset 0 0px 7px 0 rgba(250, 250, 250, 0.5);
    }
}
.textbold::before {
    font-weight: bold;
    color: burlywood;
    content: "Innanzitutto sono contento che tu stia usando il tema scuro nel tuo sistema. L' oscurità è il futuro! "
}
div.sticky {
    background-color: DarkSlateBlue;
}