---
layout: page
title: Incontri nel percorso LSS Acidi e Basi
tags: LSS,Acidi,Basi,Laboratorio,Sapere,Scientifico,Agnoletti
materia: scienze naturali
---

<div class="home">
<blockquote> Clicca il titolo per aprire un post. </blockquote>
<blockquote> Sono organizzati dal più recente al meno recente</blockquote>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.lss == 'acidi-e-basi' %}
            <li>
                <hr>
                <button class="smallbutton">{{ post.date | date: "%d / %m / %Y" }}</button>{% if post.lss %}<button class="smallbutton" style="background-color: orangered">LSS {{ post.lss | upcase | replace: "-", " " }}</button>{% else %}{% endif %}<h4><a class="alias" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h4></a>
                <span class="post-meta" style="font-family:OpenSans;font-weight:900;font-size:15px">{{ post.description | escape }}</span>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
