---
layout: page
title: Tutti i percorsi LSS di Chimica
tags: Laboratorio Sapere Scientifico Agnoletti
materia: scienze naturali
---
<style>
    .titolo {
      font-size: calc(30px + 6 * ((100vw - 320px) / 680));
      background-color: black;
      color: azure;
      padding: 15px;
    }
    .titolo:after {
      content: "";
      clear: both;
      display: block;
    }
</style>
<div class="home">
<div class="nottoprint">
  <blockquote> Se stai cercando qualcosa di specifico, usa la barra di ricerca qui sopra </blockquote>
</div>
<p>Clicca il titolo per aprire un post.
Sono organizzati dal più recente al meno recente</p>
<h2 class="titolo"> LSS Nascita della Chimica Moderna </h2></hr>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.lss == 'nascita-della-chimica-moderna' %}
            <li>

                <h3><a class="alias" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3></a>
                <span class="post-meta" style="font-family:OpenSans;font-weight:900;font-size:15px"><span style="color:rgba(255, 85, 0,0.6)">{{ post.date | date: "%d / %m / %Y" }}</span> | {{ post.description | escape }}</span><hr>
            </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h2 class="titolo"> LSS Nascita del concetto di gas </h2></hr>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.lss == 'nascita-del-concetto-di-gas' %}
            <li>

                <h3><a class="alias" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3></a>
                <span class="post-meta" style="font-family:OpenSans;font-weight:900;font-size:15px"><span style="color:rgba(255, 85, 0,0.6)">{{ post.date | date: "%d / %m / %Y" }}</span> | {{ post.description | escape }}</span><hr>
            </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h2 class="titolo"> LSS Acidi & Basi </h2></hr>
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.lss == 'acidi-e-basi' %}
            <li>

                <h3><a class="alias" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3></a>
                <span class="post-meta" style="font-family:OpenSans;font-weight:900;font-size:15px"><span style="color:rgba(255, 85, 0,0.6)">{{ post.date | date: "%d / %m / %Y" }}</span> | {{ post.description | escape }}</span><hr>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <h2 class="titolo"> LSS Combustione </h2></hr>
    <ul class="post-list">
      {% for post in site.posts %}
          {% if post.lss == 'combustione' %}
              <li>

                  <h3><a class="alias" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3></a>
                  <span class="post-meta" style="font-family:OpenSans;font-weight:900;font-size:15px"><span style="color:rgba(255, 85, 0,0.6)">{{ post.date | date: "%d / %m / %Y" }}</span> | {{ post.description | escape }}</span><hr>
              </li>
          {% endif %}
      {% endfor %}
    </ul>
</div>
