<div class="nottoprint">
<details style="width:90%;margin-left:1%;margin-right:5%">
    <summary>Configurazione pagina: seleziona la larghezza del testo ( clicca qui ) </summary>
<sup> Non preoccuparti se il formato sembra strano - soprattutto sugli smartphone o sugli schermi larghi - appena stamperai seguendo le istruzioni sottostanti il formato sarà completamente normale, senza parole che escono dai margini. <br>Ora seleziona la larghezza del testo desiderata. 50% corrisponde ad una colonna. </sup><br>
<button  class="smallbutton" onClick = "document.body.style.width = '100%';">100%</button>
<button  class="smallbutton" onClick = "document.body.style.width = '90%';">90%</button>
<button  class="smallbutton" onClick = "document.body.style.width = '80%';">80%</button>
<button  class="smallbutton" onClick = "document.body.style.width = '70%';">75%</button>
<button  class="smallbutton" onClick = "document.body.style.width = '50%';">50%</button>
<br><sub> Questa opzione è stata aggiunta per facilitare una correzione dei testi in seguito alla stampa di essi. Ecco come fare:
<ul>
    <li> Seleziona la larghezza della pagina che desideri premendo uno dei bottoni soprastanti. </li>
    <li> Clicca l' icona a forma di stampante in alto a destra. <br> Se non la vedi e hai un computer allora scorri su. Se invece hai uno smartphone scorri su e clicca sul rettangolo con tre righe nere orizzontali accanto alla scritta "Compiti e appunti scolastici". Si aprirà un menù. Clicca l' emoji a forma di stampante ( come questa: 🖨 ). <br> Se non riesci proprio a trovare niente, allora premi contemporaneamente i tasti <code> CTRL </code> e <code> P </code> per aprire il menù di stampa. </li>
    <li> Seleziona stampa su file se vuoi salvare il file come <code>.pdf</code>, altrimenti seleziona la tua stampante e stampalo </li>
    <li> Ecco fatto! </li>

</sub><br>
</details>
</div>
