<script type="text/javascript">
  function mostra_commenti(){
    x = document.getElementById("isso-thread")
    x.style.display = "block";
    var comments_script = document.createElement('script');
    comments_script.src = 'https://commenti.bortox.it/js/embed.min.js';
    comments_script.setAttribute('data-isso', 'https://commenti.bortox.it');
    document.body.appendChild(comments_script);
  };
</script>
<div class="nottoprint cards">
<div id="mc-div" style="margin-bottom: 1em" class="center nottoprint">
  <a href="https://bortox.it/contribuisci-cs/" class="center calmlink" style="font-size:1.3em" >✨ sostieni bortox.it ✨</a>
</div>
<div class="nottoprint" style="margin:1em;display:none" id="isso-thread"></div>
</div>