<script type="text/javascript">
  function mostra_commenti(){
    x = document.getElementById("tg_comments")
    x.scrollIntoView({behavior: "smooth", block: "start"});
    var comments_script = document.createElement('script');
    comments_script.type = 'text/javascript';
    comments_script.async = true;
    comments_script.src = 'https://comments.app/js/widget.js?3';
    comments_script.setAttribute('data-comments-app-website', '2quoGpt8');
    comments_script.setAttribute('data-limit', '15');
    comments_script.setAttribute('data-dislikes', '1');
    comments_script.setAttribute('data-colorful', '1');
    comments_script.setAttribute('data-color', '8A2BE2');
    document.getElementById("mc-div").style.display = "none";
    x.appendChild(comments_script);
  };
</script>
<div id="mc-div" class="nottoprint card">
  <button id="mc" class="card" onclick="mostra_commenti()">Commenta via Telegram</button>
  <p style="font-size:0.69em;text-align: justify;">Cliccando il pulsante soprastante potrai commentare questo post con il tuo account Telegram. Cliccando il bottone "Commenta via Telegram", accetti la <a class="external-link" href="https://telegram.org/privacy">politica sulla privacy</a> di Telegram.</p>
</div>
<div class="nottoprint card" id="tg_comments"></div>