<footer class="site-footer">
  <div class="wrapper">
    <p class="border-thin" style="font-family:title;letter-spacing:0.3vmin">{{ site.title }}</p>
    <div class="footer-col-wrapper">
        <div class="footer-col  footer-col-1">
            <h5 style="color:Thistle">Andrea Bortolotti - <a style="color:rosybrown" href="{{ site.url }}"> bortox.it </a></h5>
            <h6>
                <img class="footer-img" alt="Github logo" src="{{ "/data/img/loghi/github.svg" | relative_url }}">
                <a data-goatcounter-click="open_social_gh" data-goatcounter-title="Profilo GitHub" href="https://github.com/bortox" style="color:rosybrown">bortox</a><br>
                <img class="footer-img" alt="Avatar logo" src="{{ '/data/img/loghi/trophy.svg' | relative_url }}">
                <a data-goatcounter-click="click_credits" data-goatcounter-title="Apri pagina crediti" href="{{ '/credits.html' | relative_url }}" style="color:rosybrown">Crediti</a></img><br>
                <img class="footer-img" alt="Privacy Policy logo" src="{{ "/data/img/loghi/privacy.svg" | relative_url }}" style="border-radius: 0px">
                <a  style="color:rosybrown" href="{{site.url}}/privacy/">Informativa sulla privacy</a><br>
                <button class="calmlink opch realblock" style="font-size:0.9em;margin:0.5em;padding-left:0.8em" onclick="window.print()">Stampa la pagina</button>
            </h6>
        </div>

      <div class="footer-col  footer-col-2">
      {% if page.path == "index.html" %}
        <p> Benvenut@! Qui sopra ci sono gli ultimi compiti e appunti presi da me, il Borto, e puoi anche cercarli cliccando sull' input <i> Fai una ricerca </i>. Puoi cercare una materia, ad esempio scrivendo <i>LATINO</i> oppure cercarli per il loro titolo o la loro descrizione. Buona navigazione!
      {% else %}

        <form action="{{ site.baseurl | prepend: site.url }}">
            <button class="smallbutton listio opch condensed" style="background-color: #46a049">🏠 Torna al menù principale </button>
        </form>
      {% endif %}
      </div>

      <div class="footer-col  footer-col-3">

        <p class="textbold">{{ site.description }}</p>
      </div>
    </div>
     <hr><p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">Quest' opera di <span property="cc:attributionName">Andrea Bortolotti</span> è rilasciata con licenza<a class="calmlink block" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC BY-NC-ND 4.0<img style="height:22px!important;margin-left:3px;vertical-align:middle;" src="{{ '/data/img/cc/cc.svg' | prepend: site.baseurl }}" alt="Creative Commons License"/><img style="height:22px!important;margin-left:3px;vertical-align:middle;" src="{{ '/data/img/cc/by.svg' | prepend: site.baseurl }}" alt="Attribution"/><img style="height:22px!important;margin-left:3px;vertical-align:middle;" src="{{ '/data/img/cc/nc.svg' | prepend: site.baseurl }}" alt="No commercial" /><img style="height:22px!important;margin-left:3px;vertical-align:middle;" src="{{ '/data/img/cc/nd.svg' | prepend: site.baseurl }}" alt="No derivatives"/></a></p>
  </div>
</footer>
<script type="text/javascript" src="{{ '/js/prof-view.js' | prepend: site.baseurl }}" defer></script>
<script type="module" src="/sw.js"></script>
<script>
    if('serviceWorker' in navigator) {

        /**
         * Register Service Worker
         */
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(() => {
                console.log('Service Worker Registered');
            });

        
        /**
         * Define if <link rel='next|prev|prefetch'> should
         * be preloaded when accessing this page
         */
         const PREFETCH = true;

        /**
         * Define which link-rel's should be preloaded if enabled.
         */
        const PREFETCH_LINK_RELS = ['index','next', 'prev', 'prefetch'];

        /**
         * prefetchCache
         */
        function prefetchCache() {
            if(navigator.serviceWorker.controller) {

                var arr = [], l = document.links;
                for(var i=0; i<l.length; i++) {
                    if (l[i].rel === "prefetch" || l[i].href.startsWith("{{ .Page.Site.BaseURL }}")) {
                        arr.push(l[i].href);
                    }
                }
                arr.forEach(element => navigator.serviceWorker.controller.postMessage({
                    action : 'cache',
                    url : element,
                }));
            }
        }
        /**
         * Wait if ServiceWorker is ready
         */
         navigator.serviceWorker
            .ready
            .then(() => {
                prefetchCache();
            });
}
</script>