<footer class="site-footer">
  <div class="wrapper">
    <h4 class="border-thin">{{ site.title }}</h4>
    <div class="footer-col-wrapper">
        <div class="footer-col  footer-col-1">
            <h5><span style="text-align:center"><span style="color:darkslateblue">By Andrea Bortolotti </span><br></h5><h6> <img src="{{ "/data/img/loghi/github.svg" | absolute_url }}" style="width:25px"><tab><a href="https://github.com/bortox">bortox</a></img><br><img src="{{ "/data/img/loghi/instagram.svg" | absolute_url }}" style="width:25px"><tab><a href="https://instagram.com/borto.jpg">borto.jpg</a></h6></a></span>
            
        </div>
        
      <div class="footer-col  footer-col-2">
      {% if page.path == "index.html" %}
        <p> Benvenut@! Qui sopra ci sono gli ultimi compiti e appunti presi da me, il Borto, e puoi anche cercarli cliccando sull' input <i> Fai una ricerca </i>. Puoi cercare una materia, ad esempio scrivendo <i>LATINO</i> oppure cercarli per il loro titolo o la loro descrizione. Buona navigazione!
      {% else %}
      
        <form action="{{ site.baseurl | prepend: site.url }}">
            <button class="smallbutton listio opch" style="background-color: #46a049">🏠 Torna al menù principale </button>
        </form>
      {% endif %}
      </div>

      <div class="footer-col  footer-col-3">
        
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
     <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">Quest' opera di <span property="cc:attributionName">Andrea Bortolotti</span> è rilasciata con licenza <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC BY-NC-ND 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" /></a></p>
  </div>

</footer>
<script type="text/javascript" src="{{ '/js/prof-view.js' | prepend: site.baseurl }}"></script>
