/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}
hr {
    margin-bottom: 2.3em;
    margin-top: 1.12em;
    color: darkblue;
}
@media print {
    .onlyprint {
       display: block;
       width: 40%;
       text-align: center;
       opacity: 1;
       margin: auto;
       color: black;
   }
   .nottoprint {
       display: none;
    }
   
}
@media screen {
    .onlyprint {
    display: none;
    }
}
svg {

    animation: fadeIn;
    animation-duration: 0.3s;
    animation-delay: 5s;
    animation-fill-mode: both;
}
table {
    animation: fadeIn;
    animation-duration: 0.3s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    border: 3px solid black;
    border-radius: 1em;
    margin : 0.2em;
    border-collapse: collapse;
    display: block;
    width: 100%;
    margin-bottom: 2em;
    font-size: 1em;
    overflow: auto;
}
table th {
    letter-spacing: .1em;
    text-transform: uppercase;
    color: darken(darkblue, 20%);
    border: 4px ridge darkblue;
    border-radius: 5px;
    font-weight: 700;
    font-style: bold;
}
table td,
table th {
    padding: 6px 13px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.02),
		0 10px 10px -5px rgba(0.02, 0.02, 0.02, 0.05);
}
/**
 * Basic styling
 */
body {
    font-family: Open Sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: "Title";
    src: url("../data/fonts/Title.ttf");
    font-display: swap;
    
}
@font-face {
    font-family: "Abel";
    src: url("../data/fonts/Abel.ttf");
    font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../data/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../data/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("../data/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../data/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}
p {
    animation: fadeIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 2.4s; 
}
@keyframes mymove {
    from {background-color: red;}
    to {background-color: purple;}
}
h1 {
    font-family: "Title";
    background: purple;
    margin:0.2em;
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;
    padding:0.3em;
    color: white;
    animation: zoomInDown 1s, mymove 3s;
    font-size: 3em;
}

h2 {
    font-family: "Title";
    animation: fadeInDown;
    animation-duration:0.9s;
    animation-delay:1.3s;
    animation-fill-mode: both;
    font-size: 2.4em;
}
h3 {
    font-family: "Title";
    font-size: 2em;
    animation: fadeInDown;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}
h4 {
    font-family: "Title";
    font-size: 1.76em;
    animation: fadeInDown;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-delay: 1.9s;
}
h5 {
    font-family: "Title";
    font-size: 1.2em;
    animation: fadeInDown;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-delay: 2.2s;
}
h6 {
    font-family: "Title";
    font-size: 1em;
    animation: fadeInDown;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-delay:2.5s;
}

/**
 * Images
 */
img {
    margin: 0.63em;
    max-width: 100%;
    vertical-align: middle;
    animation: fadeIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 5s;
}
.shortanimation {
    animation: none;
}


/**
 * Figures
 */
figure > img {
    display: block;
    
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    animation: backInLeft;
    animation-fill-mode: both;
    animation-duration: 0.6s;
    animation-delay: 1.6s;
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 5px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 19px;
    letter-spacing: -1px;
    font-style: italic;
    font-weight:400;

    > :last-child {
        margin-bottom: 0;
    }
}
summary {

    font-size: 18px;
    letter-spacing: 0.05em;
    color:$grey-color-mid;
    transition:0.2s;
    &:hover {
        color:$grey-color-dark;
    }
    
    
}
details {
    color:$grey-color-dark;
    padding: $spacing-unit / 2;
    margin: $spacing-unit * 1.5;
    font-size: 16px;
    border-left: 3px solid $grey-color-light;
    line-height: 1.9em;
    letter-spacing: 0.005em;
    font-weight:400;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.19),
    0 10px 10px -5px rgba(0.02, 0.02, 0.02, 0.14);
	background: #ffffff;
	border-radius: 8px;
	position: relative;
    transition: 0.5s;
	&:hover {
        border-radius:9px;
        color: black;
        border-left: 5px solid red;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0.02, 0.02, 0.02, 0.1);
		cursor: pointer;
	}
}


/**
 * Code formatting
 */
pre,
code {
    animation: fadeIn;
    animation-fill-mode: both;
    animation-duration: 0.9s;
    animation-delay: 4s;
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.footnotes::before {
    animation: fadeIn;
    animation-fill-mode: both;
    animation-duration: 0.9s;
    animation-delay: 2s;
    font-weight: 700;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
    margin-bottom: 1.4em;
    content: "Note a pié di pagina:";
}
.footnotes {
    animation: fadeIn;
    animation-fill-mode: both;
    animation-duration: 0.9s;
    animation-delay: 3s;
    border-top: 7px dotted darkcyan;
    padding-bottom: 1.6em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    margin-top:6em;
    border-radius:5em;
    border-bottom: 4px dotted dodgerblue;
}
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
