#search-demo-container {
    color: DarkOrchid;
    font-family:OpenSans;
    width: 95%;
    padding: 0.4em;
    margin-top: 0.5em;
    margin: 0 auto;
    background: linear-gradient(230deg,rgba(248, 248, 255, 0.2),rgba(255, 250, 250,0.25));
}
.center {
    text-align: center;
    margin: 0 auto;
}
#search-input {
    margin: 0;
    border-radius: 3px;
    display: inline-block;
    padding: .6em;
    width: 100%;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 900;
    transition: 1s;
    text-align: center;
}
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 40px;
    text-align: center;
}
.condensed {
    font-stretch: condensed;
    font-family: "Abel", "Helvetica Neue", "League Mono Variable", "Roboto", sans-serif;
}
.site-title {
    color: darken(#c904bc,15%);
    font-weight: 400;
    font-size: calc( 1em + 1vmin );

    &,
    &:visited {
        color: darken(#c904bc,25%);
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: linear-gradient(14deg, DarkMagenta 10%, DarkSlateBlue 100%);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}
.contornato {
    box-sizing: border-box;
    width: 30%;
    margin: auto;
    text-align: center;
    display: block;
}
.footer-col-3 {
    width: -webkit-calc(42% - (#{$spacing-unit} / 2));
    width:         calc(42% - (#{$spacing-unit} / 2));
    margin: 0.2em;
    display: block;
    float: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit/5*2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}
.description {
    font-size: 0.3em;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
$red: #e74c3c;
$blue: #3498db;
button {
  background-color: $red;
  border: none;
  color: white;
  text-transform: capitalize;
  padding: calc( 10px + 1em);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1px;
  &:hover {
    border-radius: 5px;
    color: darken(white, 90%);
    background-color: lighten($red, 40%) !important;
    outline: 0;
  }
}
.print {
  background-color: transparent;
  margin: auto;
  padding: auto;
  display: block;
  color: black;
  &:hover {
      font-size: 1.5em;
      background-color: transparent !important;
      color: orangered;
    }
}
.troll {
  background-color: #4CAF50;
  color: white;
  display: inline-block;
}
.smallbutton {
  background-color: steelblue;
  border-radius: 0px;
  border: none;
  color: white;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 0.92em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  transition: 0.3s;
  display: inline-block;
}
.smallbutton.listio {
  background-color: orangered;
  color: white;
  border-radius: 0.4em;
  margin: 0.2em 0.8em 0.2em 0.2em;
  &:hover{
    cursor: alias;
    background-color: orangered;
    color: white;
  }
}
.trollaro {
    background-color: purple !important;
    font-family: 'Open Sans' !important;
    text-decoration: none !important;
    color: ghostwhite !important;
}
.cardshare a {
    text-decoration: none;
    padding: 0.55em;
    word-wrap: break-word;
    color: #fff;
    border-radius: 1.5em;
    outline: 0 none;
    display: inline-block;
    font-size: calc(0.85em + 0.2vw );
    width: 100%;
    height: 90%;
}

.cardshare svg {
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    border: 0.4em solid transparent;
    border-radius: 50%;
    overflow: visible;
    vertical-align: middle;
    display: table;
    transition: transform 0.2s cubic-bezier(0.2,-1.3, 0.5, 5);
}

.cardshare a:hover, .cardshare a:focus {
    box-shadow: 0px 0px 0.30vmin 0.29vmin lightsteelblue;
}
.cardshare {
    margin: 0.8em !important;
    opacity: 0.6;
    transition: 0.1s;

    &:hover {
        opacity:0.96;
        height: 80%;
    }
    text-align: center;
}

.cardshare a:hover svg, .cardshare a:focus svg {
    transform: scale(1.25);
}

.hoveranim {
  background-color: darkcyan;
  transition: 1s;
  text-shadow: 0px 0px 12px #000;
  &:hover {
      text-shadow: 0px 0px 12px darkcyan;
      font-size: 1.5em;
      background-color: deepskyblue;
    }
}
.alias {
    cursor: alias;
    &:hover {
        cursor: alias;
    }
}
.opch {
    opacity: 0.74;
    &:hover {
        opacity: 1;
    }
}
.border-thin {
    border-bottom: 2px solid $grey-color-light;
    text-align: right;
    color: Linen;
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
    padding-bottom: .5em;
    margin-bottom: .3em;
}
.smallbutton.navitem {
  color: deepskyblue;
  border: 0.05em solid darkgrey;
  background-color: azure;
  position: relative;
  margin: 0.25rem;
  padding: 0.1rem;
  display: inline-block;
  float: left;
  width: 30%;
  height: 8rem;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.smallbutton.listio.date {
    cursor: default;
    background-color: rgba(58,60,89, 0.40);
    margin: 0 auto;
    padding-left: 2vw;
    padding-right: 2vw;
}
.profview {
    display: none;
    margin: 3em;
    margin-top:4.2em;
}
.calmlinknoanim {
    background-color: rgba(53, 0, 102,0.8);
    color: snow !important;
    text-decoration: none;
    padding: .45em;
    border-radius:25px;
    margin: .15em;
    font-family: OpenSans;
    display: inline-block;
}
.calmlink {
    background-color: rgba(53, 0, 102,0.8);
    color: snow !important;
    text-decoration: none;
    padding: .45em;
    border-radius:25px;
    margin: .15em;
    transition:0.56s;
    font-family: OpenSans;
    &:hover {
    	background-color: rgba(230, 204, 255,0.95);
    	color:rgb(25, 0, 80) !important;
    	text-decoration: none;
    }
}
img[src*="#border"] {
    border: 0.7em solid white;
    max-width: calc(800px - (#{$spacing-unit} * 2) - 0.7em);
    @include media-query($on-laptop) {
        max-width: calc(800px - (#{$spacing-unit}) - 0.7em);
    }
    @include media-query($on-palm) {
        max-width: calc(100% - (#{$spacing-unit} / 2) - 0.7em);
    }
 }


.calmlink img {
    display: inline !important;
}
.smalltext {
	text-align:justify;
	padding-left:0.7em;
	padding-right:0.7em;
	padding-bottom:0.1em;
	opacity:0.4;
	transition:0.4s;
	&:hover {
		opacity:1;
	}
}
.textbold {
	font-weight:500;
	font-family:OpenSans;
	font-size: 1.3em;
	color: Gainsboro;
	transition:0.5s;
	&:hover {
		color: Moccasin;
	}
}

#more-work {
	background :  linear-gradient(35deg, Azure, AliceBlue);
	border-radius: 5em;
	padding: 1em;
	margin-bottom: 2em;
	border: 1px solid $grey-color-mid;
	#dialshare {
	    font-size: 1.5em;
	    text-align: center;
	}
}
#results-container {
        padding: 0 auto;
        padding-top: 0.6em;
        display: grid;
        grid-auto-rows: auto;
        grid-gap: 1em;
        margin: 0 auto;
        grid-template-columns: repeat( auto-fit, minmax(12em,1fr));
}
.block {
    display: inline-block;
}

.realblock {
    display: block !important;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
  transition: 0.3s;
  padding:0.45em;
  text-align: justify;
  line-height: 2em;
  border-radius: 0.2em;
  &:hover {
      box-shadow: 0 5px 12px 0 rgba(100,200,100,0.8);
  }
}
.scarslink {
  padding:0.35em !important;
  border-radius:0.2em !important;
  margin-right:1em !important;
  text-align: left !important;
  font-family: Title !important;
  color:grey !important;
  transition: 0.2s;
  &:hover {
      color: black !important;
  }
}

.cbb {
    color: white !important;
    font-family: OpenSans;
    font-weight: 700;
}

.license-text {
    line-height: 2em;
    color: rgba(255,255,255,0.6);
}
.otherpostlnk {
    text-decoration: none !important;
    color: darken(skyblue, 40%);
    font-weight: 400;
    font-family: "Abel", "Helvetica Neue", "League Mono Variable", "Roboto", "Helvetica", sans-serif;
    transition: 0.12s;
    &:hover {
        text-decoration: underline solid yellow 3px !important;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: black;
    }
    &:visited {
        color: darken(DarkOrchid, 25%);
    }
}
dl {
  display: grid;
  grid-row-gap: .5em;
}

dt {
  grid-column-start: 1;
  padding-right: .5em;
  text-transform: capitalize;
  font-weight: bold;
  word-break: break-word;
  grid-template-columns: fit-content(20%);
}

dd {
  grid-column-start: 2;
  grid-template-columns: fit-content(80%);
}
@media (prefers-color-scheme: dark) {
    #search-input {
        background: $grey-color-darkplus;
        color: $grey-color-light;
        border: none;
    }

    #results-container {
        color: Cornsilk;
        font-weight: 600;
    }
    body {
        background: $grey-color-darkplusplus;
        color: $grey-color-softlight;
    }
    a {
        text-decoration: none !important;
        color: darken(AliceBlue, 52%);
        &:hover {
            text-decoration: underline dotted yellow !important;
            color: darken(AliceBlue, 45%);
        }
        &:visited {
            color: darken(Azure, 72%);
        }

    }
    .otherpostlnk {
        color: lighten(DarkOrchid, 45%);
        &:visited {
            color: lighten(DarkOrchid, 25%);
        }
        &:hover {
          color: white;
        }
    }
    .site-title {
        color: darken(#c904bc,3%) !important;
    }
    ::selection {
      background: Indigo;
    }
    h1,h2,h3,h4,h5,h6 {
        color: lighten(Indigo, 23%);
    }
    h1 {
        background: linear-gradient(230deg, Indigo -10%,darken(MidnightBlue,5%) 70%);
        color: GoldenRod;
        line-height: 1.15em !important;

    }
    blockquote {
        border-left: 5px solid darken(Indigo, 10%);
    }
    table th {
        color: $grey-color-light;
        border: 0.17em ridge $grey-color !important;
        border-bottom: 0.2em solid $grey-color-mid !important;
    }
    table td,
    table th {
        border-color: $grey-color-softdark;
    }
    summary {
        color: $grey-color-softdark;

        &:hover {
            color: $grey-color-light;

        }
    }
    details {
        color: #54c4f8;
        border: 1px solid darken(Teal, 70%);
        background-color: $grey-color-darkplus;
        &:hover {
            color: #b6e6fc !important;
        }
    }

    #more-work {
        background :  linear-gradient(123deg, DarkSlateBlue -10%,  MidnightBlue 70%);
        border-radius: 3em;

    }

    pre,
    code {
        border: 1px solid $grey-color-dark;
        border-radius: 3px;
        background-color: $grey-color-dark;

    }
    p {
        color: $grey-color-lighter;
    }
    .highlight {
        background: $grey-color-dark !important;
    }
    .card {
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        transition: 0.3s;
        &:hover {
            box-shadow: inset 0 0px 7px 0 rgba(250, 250, 250, 0.5);
        }
    }
    div.sticky {
        background-color: DarkSlateBlue;
    }

    .scarslink {
        color:grey !important;
        &:hover {
            color: whitesmoke !important;
        }
    }
}
