/**
 * Site header
 */
#search-demo-container {
    color: DarkOrchid;
    font-family:OpenSans;
    animation: bounceIn;
    animation-duration: 1.5s;
    width: 90%;
    max-width: 40em;
    padding: 0.4em;
    margin-top: 0.5em;
    margin: 0 auto;
    border-radius: 0.5em;
    background: linear-gradient(230deg,rgba(248, 248, 255, 0.2),rgba(255, 250, 250,0.25));
}

#search-input {
    margin: 0;
    border-radius: 12px;
    display: inline-block;
    padding: .6em;
    font-family: OpenSans;
    width: 100%;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 900;
    transition: 1s;
}
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    animation: rubberBand;
    width:85%;
    color: darken(#c904bc,10%);
    font-family: OpenSans;
    font-weight: 600;
    animation-duration: 0.5s;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: darken(#c904bc,20%);
    }
}

.site-nav {
    animation: fadeInDown;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-delay:2.5s;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: darkblue;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: linear-gradient(14deg, DarkMagenta 10%, DarkSlateBlue 100%);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}
.contornato {
    box-sizing: border-box;
    width: 30%;
    margin: auto;
    text-align: center;
    display: block;
}
.footer-col-3 {
    width: -webkit-calc(42% - (#{$spacing-unit} / 2));
    width:         calc(42% - (#{$spacing-unit} / 2));
    margin: 0.2em;
    display: block;
    float: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit/5*2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}
.description {
    font-family: Abel;
    font-size: 0.3em;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
$red: #e74c3c;
$blue: #3498db;
button {
  background-color: $red;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.12em;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Abel;
  font-weight:900;
  border-radius: 1em;
  &:hover,
  &:focus {
    border-radius:20;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    outline: 0;
  }
}
.print {
  background-color: transparent;
  margin: auto;
  padding: auto;
  display: block;
  color: black;
  &:hover {
      font-size: 1.5em;
      background-color: transparent !important;
      color: orangered;
    }
}
.troll {
  margin: -15px 10px 20px 25px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  float: left;
  display: inline-block;
  cursor: none;
}
.smallbutton {
  background-color: steelblue; 
  background-color: steelblue;
  border-radius: 0px;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 1em;
  margin: 0.2em 0.2em 0.2em 0.2em;
  transition: 0.3s;
  font-family: Abel;
  &:hover{
    cursor: default;
  }
  
}
.smallbutton.listio {
  background-color: orangered;
  border-radius: 0.4em;
  letter-spacing: 0.3px;
  margin: 0.2em 0.8em 0.2em 0.2em;
  &:hover{
    cursor: alias;
  }
}

.crell {
  font-family: OpenSans;
}
.tnrom {
  font-family: Roboto,'Times New Roman';
}


.cardshare a {
    text-decoration: none;
    padding: 0.55em;
    word-wrap: break-word;
    color: #fff;
    border-radius: 1.5em;
    outline: 0 none;
    display: inline-block;
    font-size: calc(0.85em + 0.2vw );
    width: 100%;
    height: 90%;
}

.cardshare svg {
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    border: 0.4em solid transparent;
    border-radius: 50%;
    overflow: visible;
    vertical-align: middle;
    display: table;
    transition: transform 0.2s cubic-bezier(0.2,-1.3, 0.5, 5);
}

.cardshare a:hover, .cardshare a:focus {
    box-shadow: 0px 0px 0.30vmin 0.29vmin lightsteelblue;
}
.cardshare {
    margin: 0.8em !important;
    opacity: 0.6;
    transition: 0.1s;

    &:hover {
        opacity:0.96;
        height: 80%;
    }
    text-align: center;
}

.cardshare a:hover svg, .cardshare a:focus svg {
    transform: scale(1.25);
}

.hoveranim {
  background-color: darkcyan;
  transition: 1s;
  text-shadow: 0px 0px 12px #000;
  &:hover {
      text-shadow: 0px 0px 12px darkcyan;
      font-size: 1.5em;
      background-color: deepskyblue;
    }
}
.alias {
    cursor: alias;
    &:hover {
        cursor: alias;
    }
}
.opch {
    opacity: 0.74;
    &:hover {
        opacity: 1;
    }
}
.border-thin {
    border-bottom: 2px solid $grey-color-light;
    text-align: right;
    color: Linen;
}
.smallbutton.navitem {
  color: deepskyblue;
  border: 0.05em solid darkgrey;
  background-color: azure;
  position: relative;
  margin: 0.25rem;
  padding: 0.1rem;
  display: inline-block;
  float: left;
  width: 30%; 
  height: 8rem;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.smallbutton.listio.date {
    cursor: default;
    background-color: rgba(58,60,89, 0.40);
    margin: 0 auto;
    padding-left: 2vw;
    padding-right: 2vw;
}
.profview {
    display: none;
    margin: 3em;
    margin-top:4.2em;
}
.calmlinknoanim {
    background-color: rgba(53, 0, 102,0.8);
    color: snow !important;
    text-decoration: none;
    padding: .45em;
    border-radius:25px;
    margin: .15em;
    font-family: OpenSans;
}
.calmlink {
    background-color: rgba(53, 0, 102,0.8);
    color: snow !important;
    text-decoration: none;
    padding: .45em;
    border-radius:25px;
    margin: .15em;
    transition:0.75s;
    font-family: OpenSans;
    &:hover {
    	background-color: #e6ccff;
    	color: #28004d !important;
    	text-decoration: none;
    }
}
.calmlink img {
    display: inline !important;
}
.smalltext {
	text-align:justify;
	padding-left:0.7em;
	padding-right:0.7em;
	padding-bottom:0.1em;
	opacity:0.4;
	transition:0.4s;
	&:hover {
		opacity:1;
	}
}
.textbold {
	font-weight:500;
	font-family:OpenSans;
	font-size: 1.4em;
	color: Gainsboro;
	transition:0.5s;
	&:hover {
		color: Moccasin;
	}
}

#more-work {
	background :  linear-gradient(35deg, Azure, AliceBlue);
	border-radius: 5em;
	padding: 1.5em;
	margin-bottom: 1em;
	border: 1px solid $grey-color-mid;
}
#results-container {
        padding: 0 auto;
        padding-top: 0.6em;
        display: grid;
        grid-auto-rows: auto;
        grid-gap: 1em;
        margin: 0 auto;
        grid-template-columns: repeat( auto-fit, minmax(12em,1fr));
}
.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
  transition: 0.3s;
  padding:0.6em;
  text-align: center;
  line-height: 2em;
  border-radius: 0.2em;
  &:hover {
      box-shadow: 0 5px 12px 0 rgba(100,200,100,0.8);
  }
}
.scarslink {
  padding:0.35em !important;
  border-radius:0.2em !important;
  margin-right:1em !important;
  text-align: justify !important;
  border-top-right-radius:0.5em !important;
  background-color: rgba ( 0,0,0,0.5) !important;
}

.license-text {
    line-height: 2em;
}

@media (prefers-color-scheme: dark) {
    #search-input {
        background: $grey-color-darkplus;
        color: $grey-color-light;
        border: none;
    }
    #results-container {
        color: Cornsilk;
        font-weight: 600;
    }
    body {
        background: $grey-color-darkplusplus;
        color: $grey-color-softlight;
    }
    a {
        text-decoration: none !important;
        color: darken(AliceBlue, 52%);
        &:hover {
            text-decoration: underline dotted yellow !important;
            color: darken(AliceBlue, 45%);
        }
        &:visited {
            color: darken(Azure, 80%);
        }

    }
    .site-title {
        color: darken(#c904bc,3%) !important;
        letter-spacing: 0.01em;
    }
    ::selection {
      background: Indigo;
    }
    h1,h2,h3,h4,h5,h6 {
        color: lighten(Indigo, 23%);
    }
    h1 {
        background: linear-gradient(230deg, Indigo -10%,darken(MidnightBlue,5%) 70%);
        color: GoldenRod;
        line-height: 1.15em !important;

    }
    blockquote {
        border-left: 5px solid darken(Indigo, 15%);
    }
    table th {
        color: $grey-color-light;
        border: 0.17em ridge $grey-color !important;
        border-bottom: 0.2em solid $grey-color-mid !important;
    }
    table td,
    table th {
        border-color: $grey-color-softdark;
    }
    details {
        color: darken(Lavender, 30%);
        border-left: 5px solid purple;
        background: darken(Teal, 30%);
        &:hover {
            color: darken(Lavender, 27%);
            border-left: 3px solid violet;
            border-bottom: 1px solid violet;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 150, 0.3),
            0 10px 10px -5px rgba(0.02, 0.02, 150, 0.2);
        }
    }
    hr {
        margin-bottom: 2em;
        margin-top: 1em;
        color: Indigo;
        background-color: Indigo;
        border-radius: 5em;
        border: none !important;
        height: 0.17em;
    }
    #more-work {
        background :  linear-gradient(123deg, DarkSlateBlue -10%,  MidnightBlue 70%);
        border-radius: 3em;
        padding: 2em;

    }
    .otherpostlnk {
        text-decoration: none !important;
        color: lighten(DarkOrchid, 30%);
        &:hover {
            text-decoration: underline dotted yellow !important;
            color: lighten(DarkOrchid, 20%);
        }
        &:visited {
            color: lighten(DarkOrchid, 10%);
        }
    }
    pre,
    code {
        border: 1px solid $grey-color-dark;
        border-radius: 3px;
        background-color: $grey-color-dark;

    }
    p {
        color: $grey-color-lighter;    
    }
    .highlight {
        background: $grey-color-dark !important;
    }
    .card {
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        transition: 0.3s;
        &:hover {
            box-shadow: inset 0 0px 7px 0 rgba(250, 250, 250, 0.5);
        }
    }
    .textbold::before {
        font-weight: bold;
        color: burlywood;
        content: "Innanzitutto sono contento che tu stia usando il tema scuro nel tuo sistema. L' oscurità è il futuro! "
    }
    div.sticky {
        background-color: DarkSlateBlue;
    }
}
