---
layout: default
---
<div class="post">
  <header class="post-header">
    
    <div class="shtroll">
    {% include share.html %}
    </div>
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
   
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
    </article>
        <div class="nottoprint">
            <div style="text-align:center">
            <button class="smallbutton listio date" disabled>{% assign m = page.date | date: "%-m" %}{% assign d = page.date | date: "%-d" %}
            🕰️ PUBBLICATO: 
            {% case d %}
            {% when '1' %}Primo di
            {% when '2' %}Due
            {% when '3' %}Tre
            {% when '4' %}Quattro
            {% when '5' %}Cinque
            {% when '6' %}Sei
            {% when '7' %}Sette
            {% when '8' %}Otto
            {% when '9' %}Nove
            {% when '10' %}Dieci
            {% when '11' %}Undici
            {% when '12' %}Dodici
            {% when '13' %}Tredici
            {% when '14' %}Quattordici
            {% when '15' %}Quindici
            {% when '16' %}Sedici
            {% when '17' %}Diciassette
            {% when '18' %}Diciotto
            {% when '19' %}Diciannove
            {% when '20' %}Venti
            {% when '21' %}Ventuno
            {% when '22' %}Ventidue
            {% when '23' %}Ventitre
            {% when '24' %}Ventiquattro
            {% when '25' %}Venticinque
            {% when '26' %}Ventisei
            {% when '27' %}Ventisette
            {% when '28' %}Ventotto
            {% when '29' %}Ventinove
            {% when '30' %}Trenta
            {% when '31' %}Trentuno
            {% endcase %}
            {% case m %}
            {% when '1' %}Gennaio
            {% when '2' %}Febbraio
            {% when '3' %}Marzo
            {% when '4' %}Aprile
            {% when '5' %}Maggio
            {% when '6' %}Giugno
            {% when '7' %}Luglio
            {% when '8' %}Agosto
            {% when '9' %}Settembre
            {% when '10' %}Ottobre
            {% when '11' %}Novembre
            {% when '12' %}Dicembre
            {% endcase %}</button></div>
            <div style="text-align:center;margin:2em">
            <a target="_blank" rel="noopener" class="smallbutton" style="background-color:Cornsilk;color:DarkSlateBlue" href="https://github.com/bortox/Compiti-scolastici/edit/master/{{ page.path }}">
            <i class="icon icon-pencil2"></i> ✍️ Proponi una modifica al testo di questa pagina (GitHub)</a>
          </div>
            <hr>
            <div style="display: block"><form>{% if page.previous.url %}<button class="smallbutton navitem" formaction='{{ page.previous.url | absolute_url }}'><b><span style="color:DarkSlateBlue"> Precedente: ❰❰ </span></b>{{ page.previous.title | truncate: 50 }}</button>{% endif %}<button class="smallbutton navitem" formaction='{{ "/random.html" | absolute_url }}'> <img src="{{ "/data/img/loghi/dado.svg" | absolute_url }}"><br>Scelta <span style="color:DarkSlateBlue">casuale</span></button>{% if page.next.url %}<button class="smallbutton navitem" formaction='{{ page.next.url | absolute_url }}'> <b><span style="color:DarkSlateBlue"> Successivo: ❱❱</b></span> {{ page.next.title | truncate: 50 }}</button>{% else %}<button class="smallbutton navitem" formaction='{{ site.baseurl | prepend: site.url }}'> <b><span style="color:DarkSlateBlue"> Torna alla home</b></span></button>{% endif %}</form></div>
            {% if page.lss %}
            <section id="more-work">
                <hr/><h4><span style="font-size:1.3em;color:#483D8B"> LSS {{ page.lss | upcase | replace: "-", " " }}: </h4></span><br>
                {% assign lsspagina = page.lss | downcase %}
                {% for post in site.posts %}
                    {% assign lsso = post.lss | downcase %}
                    {% if lsso == lsspagina %}
                        {% if post.url != page.url %}
                        <h5><a href="{{ post.url | relative_url }}"><span style="color:orangered">➤</span><span style="color:royalblue"> {{ post.title | escape }} </span></a></h5></li>
                        {% else %}
                        <h5><a href="{{ post.url | relative_url }}"><span style="color:#00264d">Hai appena letto: </span>{{ post.title | escape }}</a></h5></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </section>
            {% else %}
            {% endif %}
            
            <hr />
            <section id="more-work">
                <h4><span style="font-size:1.3em;color:navy"> Altri post di {{ page.materia | capitalize | replace: "-", " " }}: </h4></span><br>
                {% assign materiapagina = page.materia | downcase %}
                {% assign i = 0 %}
                {% for post in site.posts %}
                    {% assign materia = post.materia | downcase %}
                    {% if materia == materiapagina %}
                        {% assign i = i | plus:1 %}
                        {% if post.url != page.url %}
                        <h5><a href="{{ post.url | relative_url }}">☛ {{ post.title | escape }}</a></h5></li>
                        {% else %}
                        <h5><a href="{{ post.url | relative_url }}"><span style="color:#00264d">Hai appena letto: </span>{{ post.title | escape }}</a></h5></li>
                        {% endif %}
                    {% endif %}
                    {% if i == 5 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            </section>
            <hr />
        </div>
        <sub id="goatcounter-text"></sub>

</div>
