---
layout: default
---
<div class="post">
  <header class="post-header">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
 <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
    </article>
    <div style="text-align:center;margin-bottom:1.5em;margin-top:1em" class="nottoprint">
    <a class="calmlink opch" style="background-color:red;font-family:Title" onclick="Sharee()">🚀 condividi</a></div>
         <div class="nottoprint">

            <div id="more-work">
                {% if page.lss %}
                <h3 class="calmlinknoanim realblock"> LSS {{ page.lss | upcase | replace: "-", " " }}: </h3><br>
                {% assign lsspagina = page.lss | downcase %}
                {% assign apostoli =  site.posts | reverse | where: "lss", lsspagina %}
                {% for post in apostoli %}
                        {% if post.url != page.url %}
                        <a class="otherpostlnk" data-goatcounter-click="click_related_lss" data-goatcounter-title="Apri post LSS correlato" href="{{ post.url | relative_url }}"><span style="color:orangered">➤</span> {{ post.title | escape  }} </a><hr>
                        {% else %}
                        <a class="otherpostlnk" href="#" data-goatcounter-click="up" data-goatcounter-title="Torna su"><span style="color:orangered">➤</span> Stavi leggendo: {{ post.title | escape  }} </a><hr>
                        {% endif %}
                {% endfor %}
                {% else %}
                {% if site.related_posts.size >= 2 %}
                <h3 class="calmlinknoanim"> Altri post correlati di <span style="color:Gold">{{ page.materia | capitalize | replace: "-", " " }}</span>: </h3>
                <div class="page-content">
                    {% assign materia = page.materia | downcase %}

                {% for related_post in site.related_posts limit: 6 %}
                    {% assign materiapost = related_post.materia | downcase %}
                    {% if materia == materiapost %}
                    <a data-goatcounter-click="click_related_post" data-goatcounter-title="Apri post correlato" class='otherpostlnk' href="{{ related_post.url | relative_url }}">{{ related_post.title | truncatewords: 12 }}</a><hr>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}
                <div id="dialshare">
                    <a class="calmlinknoanim" data-goatcounter-click="random_post" data-goatcounter-title="Apri post casuale" href="{{ 'random.html' | relative_url }}">Post <span style="color:orangered">casuale</span>  <img src="{{ '/data/img/loghi/dado.svg' | relative_url }}" alt="dado misterioso">  </a>
                    <a class="calmlinknoanim" data-goatcounter-click="home" data-goatcounter-title="Click menu home" href="{{ site.baseurl }}/"><span style="color:lavender">Home</span></a>
                </div>
            </div>
        </div>
        <div style="text-align:center;margin-bottom:1.5em;margin-top:1em" id="matita">
            <p style="cursor:text"class="smallbutton listio opch trollaro">{% assign m = page.date | date: "%-m" %}{% assign d = page.date | date: "%-d" %}
                ⏱️ | 
                {% case d %}
                {% when '1' %}primo di
                {% when '2' %}due
                {% when '3' %}tre
                {% when '4' %}quattro
                {% when '5' %}cinque
                {% when '6' %}sei
                {% when '7' %}sette
                {% when '8' %}otto
                {% when '9' %}nove
                {% when '10' %}dieci
                {% when '11' %}undici
                {% when '12' %}dodici
                {% when '13' %}tredici
                {% when '14' %}quattordici
                {% when '15' %}quindici
                {% when '16' %}sedici
                {% when '17' %}diciassette
                {% when '18' %}diciotto
                {% when '19' %}diciannove
                {% when '20' %}venti
                {% when '21' %}ventuno
                {% when '22' %}ventidue
                {% when '23' %}ventitre
                {% when '24' %}ventiquattro
                {% when '25' %}venticinque
                {% when '26' %}ventisei
                {% when '27' %}ventisette
                {% when '28' %}ventotto
                {% when '29' %}ventinove
                {% when '30' %}trenta
                {% when '31' %}trentuno
                {% endcase %}
                {% case m %}
                {% when '1' %}Gennaio
                {% when '2' %}Febbraio
                {% when '3' %}Marzo
                {% when '4' %}Aprile
                {% when '5' %}Maggio
                {% when '6' %}Giugno
                {% when '7' %}Luglio
                {% when '8' %}Agosto
                {% when '9' %}Settembre
                {% when '10' %}Ottobre
                {% when '11' %}Novembre
                {% when '12' %}Dicembre
                {% endcase %}</p>
                <a class="smallbutton listio trollaro" onclick="mostra()">✏️ modifica</a>
            </div>
            <div style="text-align:center;margin-bottom:1.5em;margin-top:1em;display:none;" id="modifica">
                <a data-goatcounter-click="suggest_change" data-goatcounter-title="Proponi cambiamento" class="smallbutton listio trollaro" href="{{site.baseurl}}/proponi-modifica.html">Proponi cambiamento</a>
                <a data-goatcounter-click="report_error" data-goatcounter-title="Segnala errore" class="smallbutton listio trollaro" href="{{site.baseurl}}/segnala-errore.html">Segnala errore</a>
            </div>
            <script async>
                function mostra() {
                    document.getElementById('modifica').style.display = "block";
                    document.getElementById('matita').style.display = "none";
                    window.goatcounter.count({
                        path : 'edit',
                        title: 'Mostra opzioni modifica post',
                        event: true,
                    });
                }
            </script>
</div>
<div class="profview"><hr>
<p> Questo è il mio sito web personale contenente i Compiti Scolastici e gli appunti presi da me, <span style="color:darkslateblue">Andrea Bortolotti</span>, durante il liceo.  Ci sono numerose materie, tra cui Fisica, Chimica, Latino, Inglese, Geometria, Storia dell' Arte e tante altre ancora! L' ho creato per essere più ordinato e per non perdere nulla. </p>
<a data-goatcounter-click="click_license" data-goatcounter-title="Apri licenza dei contenuti"rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC BY-NC-ND 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ '/data/img/cc/cc.svg' | prepend: site.baseurl }}" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ '/data/img/cc/by.svg' | prepend: site.baseurl }}" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ '/data/img/cc/nc.svg' | prepend: site.baseurl }}" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ '/data/img/cc/nd.svg' | prepend: site.baseurl }}" /></a></p><hr>
</div>
